[submodule "Plugin/SignMeUp"]
	path = Plugin/SignMeUp
	url = https://github.com/eldad87/sign_me_up.git
[submodule "Plugin/debug_kit"]
	path = Plugin/debug_kit
	url = https://github.com/eldad87/debug_kit
[submodule "Plugin/utils"]
	path = Plugin/utils
	url = https://github.com/eldad87/utils.git
[submodule "Plugin/facebook"]
	path = Plugin/facebook
	url = https://github.com/eldad87/CakePHP-Facebook-Plugin.git
[submodule "Plugin/Uploader"]
	path = Plugin/Uploader
	url = https://github.com/eldad87/cake-uploader
[submodule "Vendor/PHP-PayPal-IPN"]
	path = Vendor/PHP-PayPal-IPN
	url = https://github.com/eldad87/PHP-PayPal-IPN.git
[submodule "Plugin\\Forum"]
	path = Plugin\\Forum
	url = https://github.com/eldad87/cake-forum.git
