Vendor/Composer/*
composer.lock
Plugin/Uploader*
tmp/cache/forum/*
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/cache/cake_*
tmp/logs/*
tmp/sessions/*
tmp/tests/*
config/database.php
config/database.php
webroot/img/users/*
webroot/vid/subjects/about_videos/*
webroot/file_system/*
webroot/img/teachers/certificates/*
webroot/vid/teachers/about_videos/*
webroot/files/uploads/*
!empty
.DS_Store