# run as:
# sudo su -c "crontab -e" www-data

#
# # Email users
#

# 1 hour before lesson starts
# Run every 5 minutes
* */5 * * * /var/www/cake/lib/Cake/Console/cake -app /var/www/app/current lesson_notification "1 hour"

# 10 minutes before lesson starts
# Run every 20 seconds
*/20 * * * * /var/www/cake/lib/Cake/Console/cake -app /var/www/app/current lesson_notification "10 minutes"




#
# # Payment
#

# Transfer CP 3 days after lesson starts to the teacher
# Run every 20 seconds
*/20 * * * * /var/www/cake/lib/Cake/Console/cake -app /var/www/app/current live_payment




#
# # Change lesson stage
#

# After lesson ends, allow users/teacher to rate the lesson/students
# Run every 20 seconds
*/20 * * * * /var/www/cake/lib/Cake/Console/cake -app /var/www/app/current update_rating_stage


#
# # Return CP to students on overdue/invalid request
#

# Join request - After lesson starts, all join requests to it are invalid
# Order - After lesson request date is overdue, the request is invalid
# Run every 1 minute
*/1 * * * * /var/www/cake/lib/Cake/Console/cake -app /var/www/app/current update_rating_stage